.btn-text {
    padding: 10px 10px 10px 10px;
    color: black;
    text-decoration: none;
    /*隱藏超連結底線*/
    cursor: pointer;
    /*超連結手型*/
}
.btn-text2 {
    text-decoration: none; /*隱藏超連結底線*/
    cursor: pointer; /*超連結手型*/
    padding: 40px 50px 40px 50px; /*整個框大小*/
    color: black;
    background-color: #ECEFEF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-text:hover {
    color: #ef7b41;
}
.btn-text2:hover {
    color: #ef7b41;
}

.swiper-pagination{
	bottom:3%;
    transform: translateY(10px);
}
/* ----------header----------- */
.header {
    display: flex;
    /*讓head整個橫的*/
    margin: 0 auto;
    justify-content: space-around;
    margin-bottom: 30px;
    position: sticky;
    /*滑動後固定*/
    top: 0px;
    /* 這邊的意思是當畫面捲動到 top:0px 的時候，就會一直停留在 top:0px 的位置 */
    z-index: 3;
    /*優先度*/
    background: #C4D2D1;
    opacity: 0.9;
}

.header>ul {
    display: flex;
}

.header>ul>li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.option {
    font: normal normal bold 18px Noto Sans TC;
}

/*-------------------------*/
.introduction-t {
    margin: 10px auto 10px auto;
    width: 80%;
    font: normal normal bold 30px Noto Sans TC;
}

.introduction-content {
    margin: 10px auto 10px auto;
    width: 80%;
    font: normal normal bold 20px Noto Sans TC;
}

/*-----------item1-----------*/
.item1 {
    width: 90%;
    margin: 0 auto 30px auto;
    align-items: center;
}

.item1>ul {
    display: flex;
    justify-content: space-around;
}

.cook-title {
    font: normal normal bold 40px Noto Sans TC;
    text-align: center;
    margin-bottom: 30px;
}

.card {
    height: 250px;
    width: 300px;
    background: #ECEFEF;
    padding: 0 20px;
    margin: 30px 10px 30px 10px;
    position: relative;
}

.title {
    font: normal normal bold 30px Noto Sans TC;
    margin-top: 90px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.card>img {
    position: absolute;
    top: -30px;
    left: 18%;
    align-items: center;
    height: 110px;
    width: 180px;
    border-radius: 20%;
    /*圓角*/
}

/*-------------------------------*/


/*-------------item2-------------*/
.item2 {
    display: flex;
    justify-content: space-around;
    margin: 0 auto 30px auto;
}

.food-item {
    background: #a9d8d5;
    width: 40%;
    padding: 20px;
    height: 400px;
    margin: 40px 10px 0 10px;
}

.food-item>ul {
    display: flex;
}

.food-title {
    font: normal normal bold 30px Noto Sans TC;
}

.food-content {
    font: normal normal normal 20px Noto Sans TC;
    margin-top: 20px;
    margin-bottom: 30px;
}


/*-----------swiper1-----------*/
/* 將套件主色改色 */
:root {
    --swiper-theme-color: #71A491;
}

.swiper {
    width: 900px;
    height: 450px;
    margin-bottom: 30px;
}

.swiper-slide>img {
    width: 900px;
    height: 450px;
}

/* 將底部 pagination 分頁的 active 狀態改為想要的樣式 */
.swiper-pagination-bullet-active {
    width: 20px;
    border-radius: 8px;
}

.swiper-box {
    background: rgb(219, 228, 235);
    height: 200px;
    width: 300px;
    top: 30px;
    left: 50px;
    opacity: 0.4;
    /*透明度*/
    position: absolute;
}


/*-----------swiper2-----------*/
.s2{
    height: 300px;
    display: flex;
    justify-content: center;
 }
.swiper2 {
    width: 450px;
    height: 150px;
}

/*-----------footer-----------*/
.footer1 {
    background: #d1e0df;
    height: 70px;
    z-index: 4;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.footer1>ul {
    display: flex;
    align-items: center;
}

.footer2 {
    background: #d1e0df;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer2>ul,
.footer2>div {
    display: flex;
    justify-content: center;
}

.footer-content {
    display: inline-block;
    font: normal normal bold 20px Noto Sans TC;
}



@media screen and (max-width: 1225px) {
    .swiper2{
        width: 350px;
    }
}
@media screen and (max-width: 1070px) {
    .swiper2{
        width: 250px;
    }
}
/*-------------- 900 --------------*/

@media screen and (max-width: 900px) {


    /*-------------swiper-----------*/
    .swiper,
    .swiper-slide>img {
        width: 500px;
        height: 300px;
    }

    .swiper-box {
        height: 120px;
        width: 200px;
    }

    .introduction-t {
        font: normal normal bold 15px Noto Sans TC;
    }

    .introduction-content {
        font: normal normal bold 8px Noto Sans TC;
    }
    /*-------------swiper2-----------*/
    .swiper2{
        width: 200px;
        height: 150px;
    }
    /*-------------item1-----------*/

    .item1>ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    /* .card {
            margin-bottom: 40px;
        } */

    /*-------------item2-------------*/
    .food-item {
        /* height: 300px; */
    }

    .food-title {
        font: normal normal bold 25px Noto Sans TC;
    }

    .food-content {
        font: normal normal normal 15px Noto Sans TC;
    }
}

/*-------------- 720 --------------*/


@media screen and (max-width: 720px) {


    /*-------------item2-------------*/
    .item2 {
        align-items: center;
        flex-direction: column;
    }
}


/*-------------- 560 --------------*/


@media screen and (max-width: 720px) {


    /*-------------item2-------------*/
    .swiper2 {
        width: 150px;
        height: 130px;
    }


}